<div class="bg-stone-400">
  <div class="container flex items-center justify-between py-[20px]">
    <div>
      <img class="w-16 h-16" src="assets/logo/logo.svg" alt="Logo" />
    </div>
    <div class="flex items-center">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{'Menu.Home' | translate}}"></mat-tab>
        <mat-tab label="{{'Menu.Category' | translate}}"></mat-tab>
        <mat-tab label="{{'Menu.AboutUs' | translate}}"></mat-tab>
        <mat-tab label="{{'Menu.Service' | translate}}"></mat-tab>
        <mat-tab label="{{'Menu.Blog' | translate}}"></mat-tab>
        <mat-tab label="{{'Menu.ContactUs' | translate}}"></mat-tab>
      </mat-tab-group>
      <button mat-button [matMenuTriggerFor]="menu">{{ language }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleChangeMenu('vi')">VN</button>
        <button mat-menu-item (click)="handleChangeMenu('en')">EN</button>
      </mat-menu>
      <i class="fa-solid fa-cart-shopping fa-lg text-white ml-[20px]"></i>
      <i class="fa-solid fa-user fa-lg text-white ml-[20px]" (click)="handleSignalR()"></i>
    </div>
  </div>
</div>
