<div class="bg-stone-400">
  <div class="container flex items-center justify-between py-[20px]">
    <div>
      <img class="w-16 h-16" src="assets/logo/logo.svg" alt="Logo" />
    </div>
    <div class="flex items-center">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Home"></mat-tab>
        <mat-tab label="Shop"></mat-tab>
        <mat-tab label="About us"></mat-tab>
        <mat-tab label="Servive"></mat-tab>
        <mat-tab label="Blog"></mat-tab>
        <mat-tab label="Contact us"></mat-tab>
      </mat-tab-group>
      <i class="fa-solid fa-cart-shopping fa-lg text-white ml-[20px]"></i>
      <i class="fa-solid fa-user fa-lg text-white ml-[20px]"></i>
    </div>
  </div>
</div>
