<div class="container grid grid-cols-6 gap-4">
  <div class="col-span-2">
    <img class="w-12 h-12" src="assets/logo/logo.svg" alt="Logo" />
    <span>Donec facilisis quam ut purus rutrum lobortis.
      Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
      Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</span>
      <div>
        <i class="fa-brands fa-facebook fa-lg text-[#C5001A]"></i>
        <i class="fa-brands fa-twitter fa-lg text-[#C5001A]"></i>
        <i class="fa-brands fa-instagram fa-lg text-[#C5001A]"></i>
        <i class="fa-brands fa-yahoo fa-lg text-[#C5001A]"></i>
      </div>
  </div>
</div>
