<div class="container">
  <img class="w-16 h-16" src="assets/logo/logo.svg" alt="Logo" />
  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-2">
      <span
        >Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis
        nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit
        imperdiet dolor tempor tristique. Pellentesque habitant</span
      >
      <div class="mt-[20px]">
        <button class="hover:opacity-60">
          <i class="fa-brands fa-facebook fa-2xl text-[#C5001A]"></i>
        </button>
        <button class="hover:opacity-60">
          <i class="fa-brands fa-twitter fa-2xl text-[#C5001A] ml-[10px]"></i>
        </button>
        <button class="hover:opacity-60">
          <i class="fa-brands fa-instagram fa-2xl text-[#C5001A] ml-[10px]"></i>
        </button>
        <button class="hover:opacity-60">
          <i class="fa-brands fa-yahoo fa-2xl text-[#C5001A] ml-[10px]"></i>
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <span>About us</span>
      <span class="mt-[5px]">Services</span>
      <span>Blog</span>
      <span>Contact us</span>
    </div>
    <div class="flex flex-col">
      <span>Support</span>
      <span>Knowledge base</span>
      <span>Live chat</span>
    </div>
    <div class="flex flex-col">
      <span>Jobs</span>
      <span>Our team</span>
      <span>Leadership</span>
      <span>Privacy Policy</span>
    </div>
    <div class="flex flex-col">
      <span>Nordic Chair</span>
      <span>Kruzo Aero</span>
      <span>Ergonomic Chair</span>
    </div>
  </div>
  <div class="mt-[60px]">
    <mat-divider class="text-stone-400"></mat-divider>
  </div>

  <div class="flex justify-between">
    <span
      >Copyright ©2024. All Rights Reserved. — Designed with love by Untree.co
      Distributed By ThemeWagon</span
    >
    <span>Terms & Conditions Privacy Policy</span>
  </div>
</div>
